.container-file-side-panel {
    width: 390px;
    min-width: 390px;
    background-color: #111723 ;
    padding-left: 20px;
    padding-right: 20px;
   
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}