.container-side-panel {
    width: 340px;
    height: 100%;
    background-color: #111723 ;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;


}



.project-head{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}

.project-list-tile h3{
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
    color: #FFFFFF;
    padding-left: 20px;

}

.project-list-container{
    margin-top:20px;
    height: 100%;
    overflow-y:auto;
    overflow-x: hidden;  
    margin-bottom: 20px;
    padding-right: 20px;
}

/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #454550;
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
border-radius: 10px;
}