.comment-item{
    width: 100%;
    display: flex;
    flex-direction: column;  
    background-color:#161622 ;
    border-radius: 6px; 
    padding: 15px;
    margin-top: 10px;
    width: 100%;
}

.comment-information{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.comment-name p{
    font-weight: 600;
    font-size: 13px;
    
}
.comment-name{
    margin-left: 10px;

}

.comment-text p{
    font-size: 14px;
}

.comment-text{
    margin-bottom: 0px;
}