.container-file-side-panel {
    width: 340px;
    height: 100%;
    background-color: #1E1E2D ;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}