.file-more-options{
position: relative;
top:230px;
left: -135px;
}

.badge-selector{
    position: relative;
    top: 20px;
    left: -130px;
}

.comment-counter{
    position: relative;
    top: 20px;
    left: -120px;
}
.file-card{
   display: flex;
}