.file-badges{
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: flex-end;
    top: 10px;
    left: -10px;
}

.file-status-badge{
    margin-right: 10px;
   
}
.file-card{
    margin: 0px;
    padding: 0px;
}

.file-more-options{
    position: relative;
    top: -54px;
    right: -190px;
}