.container-file-dashboard{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}
.file-dashboard-bottom{
    display: flex;
   
 
}

.panel{

     flex-basis:100px;
}


.file{
   
    flex-grow:1;
    flex-basis:300px;
}